<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body>

      <a href="{{ url_for('map') }}"> try map distance calculator </a>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
          {%for category, message in messages%}
            <h2>
              {{message}}
            </h2>
          {%endfor%}
        {%endif%}
      {% endwith %}
      {% block content %}{%endblock%}



        <div class="container">
            <form class="box" method="POST" action="">
                <h1>login Page</h1>
                <br><br><br>
                <input type="text" name="email" placeholder="enter email">
                <input type="password" name="password" placeholder="enter password">
                <button class="login">login</button>

                <br><br>
                <small>
                    Forget Password? <a class="ml-2" href="/reset_password">reset now</a>
                </small>
                <br>
                <small>
                    Need an account? <a class="ml-2" href="/register">register now</a>
                </small>


            </form>






        </div>
    </body>
</html>
