<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    </head>
    <body>



        <div class="container">
            <form class="box" method="POST" action="">
                <h1>login here</h1>
                <input type="text" name="email" placeholder="enter email">
                <input type="password" name="password" placeholder="enter password">
                <button class="login">login</button>
            </form>
        </div>
    </body>
</html>
