<!DOCTYPE html>


<html>
    <head>
        <title>profile</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>







        <div class="container">

            <div class="box" >

                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages%}
                        {%for category, message in messages%}
                          <h1>
                            {{message}}
                          </h1>
                        {%endfor%}
                      {%endif%}
                    {% endwith %}
                    {% block content %}{%endblock%}


                <h1>Your profile page</h1>
                <br>
                {%for user in user_details%}
                <h2> your name : {{user[0]}} </h2>
                <h2> your email :  {{user[1]}} </h2>
                <h2> your password :  {{user[2]}}</h2>
                {%endfor%}


                <br><br>
                <a href="{{ url_for('logout') }}"> logout </a>


            </div>
        </div>
    </body>
</html>
