<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body>


      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
          {%for category, message in messages%}
            <h2>
              {{message}}
            </h2>
          {%endfor%}
        {%endif%}
      {% endwith %}
      {% block content %}{%endblock%}


        <div class="container">
            <form class="box" method="POST" action="">
                <h1>Register Page</h1>
                <br><br><br>
                <input type="text" name="name" placeholder="enter your name">
                <input type="text" name="email" placeholder="enter email">
                <input type="password" name="password" placeholder="enter password">
                <button class="login">Register now</button>

            </form>






        </div>
    </body>
</html>
