<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    </head>
    <body>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
          {%for category, message in messages%}
            <h1>
              {{message}}
            </h1>
          {%endfor%}
        {%endif%}
      {% endwith %}
      {% block content %}{%endblock%}

        <div class="container">
            <form class="box" method="POST" action="">
                <h1>Type a new password</h1>
                <br><br><br>
                <input type="password" name="password" placeholder="enter password">
                <input type="password" name="repassword" placeholder="re-enter password">
                <button class="login">request</button>




            </form>






        </div>
    </body>
</html>
