<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
          {%for category, message in messages%}
            <h1>
              {{message}}
            </h1>
          {%endfor%}
        {%endif%}
      {% endwith %}
      {% block content %}{%endblock%}


        <div class="container">
            <form class="box" method="POST" action="">
                <h3>Enter your email to send you a password reset link</h3>
                <br><br><br>
                <input type="text" name="email" placeholder="enter email">
                <button class="login">send</button>
            </form>
        </div>
    </body>
</html>
